In [ ]:
# import the pandas library
import pandas as pd

### Read in a csv file

In [1]:
 # read the in the csv file
fav_food = pd.read_csv("fav_food.csv")

# check the data 
fav_food.head()

      name  rate
0     rice     6
1    beans     8
2  pancake     9
3    garri    10
4  indomie     6

### write the a csv file

In [5]:
# create a python dictionary
prog_lang = {'language': ['Python', 'C', 'R', 'Javascript', 'SQL'],
             'rating': [10, 3, 10, 7, 9]
             }

# convert the dict to a df
prog_df = pd.DataFrame(prog_lang)

# view the dataframe
prog_df.head()

# witre the dataframe to a csv
prog_df.to_csv("fav_lang.csv", index=False)